<!doctype html>
<html>
<head>
  <title>Datastore and Firebase Auth Example</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
  <body>
      <form>
        <fieldset>
          <legend>Text input</legend>
          <p>
            <label>Article Text Input</label>
            <textarea id = "articleText"
                  rows = "3"
                  cols = "80">Paste your article here</textarea>
          </p>
        </fieldset>
      </form>
  </body>
</html>
