<!doctype html>
<html>
  <head>
    <title>Datastore and Firebase Auth Example</title>
  </head>
    <body>
      <legend>Spongebob Reads the News</legend>
          <label>Article URL</label>
          <form action="{{ url_for('handle_URL') }}" method="post">
            <th><input type="text" name="articleURL"  value="Article URL"></th>
            <th><input type="submit" value="Analyze Article"></a></th> 
          </form>
          
        
         <br><br><br><br>
        
          <form action="{{ url_for('handle_text') }}" method="post">
            <label>Article Text</label>
            <br>
            <textarea type="text"
                      name = "articleText"
                      rows = "3"
                      cols = "80">Paste your article here</textarea>
            <th><input type="submit" value="Analyze Text"></a></th>
          </form>  
          

  <br> <br> <br>
    <h1>Saturday</h1>


  </body>
</html>
